.outer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  padding-top: 20px;
}

.main-container {
  text-align: center;
  /* width: 600px; */
  width: 36rem;
  height: 48rem;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  overflow-y: auto;

  /* position: relative; */
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  /* background-color: antiquewhite; */
  background-color: #89abe3ff;
}

.heading {
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  color: #fcf6f5ff;
}

.input-container {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
